.services_title {
  display: flex;
  justify-content: flex-start;
  font-size: 48px;
  font-weight: 600;
  margin-top: 40px;
  margin-left: 60px;
  /* background-color: aqua; */
}

.services_bottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* background-color: orange; */
}

.services {
  /* background-color: yellow; */
  padding: 10px;
}

.services_mapa {
  background-color: #11bee4;
  padding: 55px;
  margin: 100px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 700px;
  width: 300px;
  height: 300px;
}

.services_mapa:hover {
  background-color: white;
}

.services_obj2 {
  background-color: #a627d3;
  padding: 50px;
  margin: 100px;
  margin-top: -40px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 700px;
  width: 150px;
  height: 150px;
}

.services_obj2:hover {
  background-color: white;
}

.services_obj {
  background-color: #d37a27;
  padding: 50px;
  margin: 100px;
  margin-top: 0px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 700px;
  width: 150px;
  height: 150px;
}
.services_obj:hover {
  background-color: white;
}

.services_baza_danych {
  width: 150px;
  height: 150px;
  padding: 10px;
  margin-left: 5px;
  margin-top: -600px;
}

.mapa {
  width: 300px;
  height: 300px;
}
